body {


    background-color: #ffffff;
}




@media (min-width: 768px) {
    .container {
        max-width: 720px;
        width:720px;
    }

    .overlay a {

        font-size: 1.6rem;

      }

}

.mickey {
    font-family:"Bitter", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: rgb(82, 81, 81);

}

#header-row {
    margin-top:20px;
}

#hamburger-container {
    padding-right:20px;
    color:rgb(82, 81, 81);
    cursor: pointer;
    padding-left:10px;
}

#hamburger-icon {
    color:rgb(82, 81, 81);
    font-size:1.3rem;
}





/* at some point i might switch out the hamburger for the following


               <div class="menu-button"><span>MENU</span></div>

.menu-button {
	background: #E74C3C;  
  border-radius:24px;
  -moz-border-radius: 24px; 
  -webkit-border-radius: 24px; 
  border-color: rgb(199, 68, 53);  
  border-style: solid;
  border-width:2px;
	color: white;
	display:table;
	height: 48px;
  font-family:"Raleway", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: .6rem;
  width: 48px;
  cursor: pointer;

}
.menu-button span {
	display:table-cell;
	vertical-align:middle;
	text-align:center;

}

 and use this trick to change hover state:


 You could toggle which one's shown on hover:

HTML:
<a href="#" class="lock">
    <i class="icon-unlock"></i>
    <i class="icon-lock"></i>
</a>
CSS:
.lock:hover .icon-unlock,
.lock .icon-lock {
    display: none;
}
.lock:hover .icon-lock {
    display: inline;
}
Or, you could change the content of the icon-unlock class:

.lock:hover .icon-unlock:before {
    content: "\f023";
}

*/

#about-container{
  display:none;
}
#contact-container{
  display:none;
}
#blog-index-container{
  display:none;
}
#post-container{
  display:none;
}






p {

    font-family: 'Merriweather', Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    color:rgb(82, 81, 81);
    margin-top:30px;
    margin-bottom:30px;
    line-height: 1.6rem;
 }


 .caption {
    font-family: 'Quicksand', Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    color: #333231;
    margin-top:10px;

 }
 
 .caption-bold {
  font-weight: 700;
 }


.footer {
  position:fixed;
  bottom:0px;
  height:40px;
  font:'Quicksand', Helvetica, Arial, sans-serif;
  left:0px;
  width:100%;
  z-index: 1001;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.7;
  background-color: #FFFFFF;
  padding-bottom:10px;

}

.footer-text {
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	color:rgb(82, 81, 81);
	font-family: 'Quicksand';
    font-size:.8rem;
    opacity: 0.7;
}

#footer-heart-icon{
    color:red;
}



blockquote {
  display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: #eee;
  padding: 1.5em 0 0.5em;
  margin: 1.5em 0;
  position: relative;
  margin-top:40px;
  margin-bottom:40px;
  margin-left:40px;
  margin-right:40px;
  font-family: 'Quicksand', Helvetica, Arial, sans-serif;
  color:rgb(82, 81, 81);
  font-size: 1.2em;
  font-weight: 400;


}

blockquote:before {
  content: '\201C';
  position: absolute;
  top: 0em;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 3rem;
  height: 2rem;
  font: 4em/1.08em 'Merriweather', sans-serif;
  color: #666;
  text-align: center;



}
blockquote:after {
  content: "\2013 \2003" attr(cite);
  display: block;
  text-align: right;
  font-size: 0.875em;
  color: #e74c3c;
  padding-top:30px;
}

.note {
  font-family: 'Quicksand', Helvetica, Arial, sans-serif;
  color:rgb(82, 81, 81);
  font-size: 1.2em;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 15px;
  border-left: 2px solid #E74C3C;  
}

.giant-caption {

  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 4.0rem;
  font-weight: 200;
  color:rgb(82, 81, 81);

}

.regular-text {
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    color:rgb(82, 81, 81);
}

.menu {

    font-family: 'Raleway', sans-serif;
    font-size: .9rem;
    font-weight: 800;
    float:right;
    margin-left: 40px;
    margin-top: 25px;
}

.smaller-link {
  font-size: 1.1rem;
}

a {
    display: inline-block;
    position: relative;
    color: #343434;
    text-decoration: none;
    border-bottom-width:3px;
    border-bottom-color:#91c0f7;
    border-bottom-style:solid; 
    outline: none !important;
    display:inline-block;
    height:1.5em;
    line-height: 1.5em;
    transition: 0.5s;
    padding-left:2px;
    padding-right:2px;
  }

  
  a:hover {
    outline: none;
    text-decoration: none;
    background-color: rgb(145, 192, 247, 0.3);
  }


  a:link {
    color: #333231;
  }
  
  a:visited {
    color: #333231;
  }
  


/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1001; /* Sit on top */
    text-align: center;
    left: 0;
    top: 0;
    background-color: rgb(231,76,60); /* fallback color */
    background-color: rgba(231,76,60, 0.9); /* orange w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 10%; /* 25% from the top */
    width: 370px; /* 100% width */
    margin-top: 20px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    display: inline-block;
    margin-left:20px;
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 4.0rem;
    font-weight:bold;
    font-family: 'Quicksand', Helvetica, Arial, sans-serif;
    color: white;
    display: block; /* Display block instead of inline */
    transition: 0.2s; /* Transition effects on hover (color) */
    text-align: left;
    border-bottom-width:0px;
    border-bottom-style:none; 
    margin-top: 50px;
    height:30px;
 

    
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover {
    color:rgb(243, 192, 187);
    
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.0);  
  }


  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    color:white;
    font-size:3.0rem;
    cursor: pointer;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
